<md-card class="todos-card">
  <md-card-header>
    <h1>{{ 'todos.header' | translate }}</h1>
  </md-card-header>
  <md-divider></md-divider>
  <md-card-content>
    <md-list *ngIf="todos | async; else spinner; let todos">
      <md-list-item *ngFor="let todo of todos">
        <md-icon md-list-icon>content_paste</md-icon>
        <h4 md-line><strong>{{ todo?.title }}</strong></h4>
        <p md-line>{{ todo?.text }}</p>
        <button md-icon-button (click)="removeTodo(todo)">
          <md-icon>delete</md-icon>
        </button>
      </md-list-item>
    </md-list>
    <ng-template #spinner>
      <md-spinner color="primary" class="todos-spinner"></md-spinner>
    </ng-template>
    <p *ngIf="(todos | async)?.length === 0">{{ 'todos.noTodos' | translate }}</p>
  </md-card-content>
</md-card>
<button md-fab class="todos-add-button" (click)="openNewTodoDialog()">
  <md-icon>add</md-icon>
</button>
