@import "~@angular/material/theming";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

@include mat-core();
$primary: mat-palette($mat-light-blue, 800);
$accent: mat-palette($mat-orange, 600, A100, A400);
$warn: mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
